@import 'components/colors';

* {
    box-sizing: border-box;
}

a {
    color: $primary;
    text-decoration: none;
    &:hover, &:focus, &:active {
        color: darken($primary, 20%);
    }
}

i {
    color: $primary;
}


