@import 'components/colors';

* {
    box-sizing: border-box;
}

a {
    color: $primary;
    text-decoration: none;
    &:hover, &:focus, &:active {
        color: darken($primary, 20%);
    }
}

i {
    color: $primary;
}

button {
    background-color: #456AA2;
    color: #fff;

    &:hover, &:focus, &:active {
        background-color: darken(#456AA2, 20%);
        color: #fff;
    }
}

