{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "arrow-body-style": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "max-len": ["error", 140, 4],
    "react/prefer-stateless-function": 0
  }
}
