doctype html
html(lang="en")
  head
    title Rivanna Wood Floors LLC.
  body
  table.body-wrap
    tr
      td.container
        div.content
          table
            tr
              td
                img(src="cid:rivanna_logo")
            tr
              td
                if name
                  p Hi = name,
                else
                  p Hi there,
                p We received your request for a consultation from Rivanna Wood Floors and will respond to your inquiry within 2 business days.  Thank you for giving us the opportunity to work with you.
                br
                if message
                  p Your Message:
                  p.message= message
                if phone
                  p.phone= phone
                br
                p Thanks,
                p Chris Cempre,
                br
                p (434) 987-0716
                p 
                  a(href="mailto:chris.cempre@rivannawoodfloors.com") chris.cempre@rivannawoodfloors.com
                p Rivanna Wood Floors LLC.
