doctype html
html(lang="en")
  head
    title Rivanna Wood Floors LLC.
  body
  table.body-wrap
    tr
      td
      td.container
        div.content
          table
            tr
              td
                p Hi there,
                p Sometimes all you want is to send a simple HTML email with a basic design.
                h1 Really simple HTML email template
                p This is a really simple email template. Its sole purpose is to get you to click the button below.
                h2 How do I use it?
                p All the information you need is on GitHub.
       td
  table.footer-wrap
    tr
      td
      td.container
        div.content
          table
            tr
              td(align="center")
                p Don't like these annoying emails? <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>.
