.residential-container {
    .container {
        padding-top: 2em;
        padding-bottom: 4em;
    }
    .btn {
        min-width: 10em;
    }
    .form-title {
        margin-bottom: 2em;
    }

    .carousel-container {
        background: url('../../images/wood_1.png') repeat;

        img {
            background-color: #fff;
            padding: 4em;
            margin-left: auto;
            margin-right: auto;
            width: auto !important;
            max-height: 50em;
        }
    }
}
