.rivanna-nav {
    border-bottom: 1px solid #fff;
    &.navbar {
        background-color: #fff;
        height: 4em;
        .navbar-collapse {
            background: transparent;
            @media (max-width: 768px) {
              background: #fff;
              border-bottom: 1px solid #456AA2;
            }
        }

        ul {
            li {
                a {
                    height: 4em;
                }
            }
        }
    }

    &.logo-visible {
        border-bottom: 1px solid #456AA2;
        box-shadow: 0px 6px 8px rgba(#000, 0.2);
    }

    .navbar-brand {
        padding: 0;
        img {
            width: 2em;
            height: 2em;
            margin: 0.5em;
        }
    }

    &.homepage {
        .navbar-brand {
            opacity: 0;
            transition: all 0.3s ease-in;

            &.show {
                opacity: 1;
            }
        }
    }

    .icon-bar {
        background: #456AA2;
    }

    li > a {
      &:hover, &:focus, &:active {
          border-bottom: 1px solid #456AA2;
      }
    }
}

