
/*
 Style Guide Lines. Remove if you prefer your own library
 */
.home-logo-container {
    padding: 8em 0;
    .home-logo {
        background: url('../../images/logo-transparent.png') no-repeat center;
        background-size: contain;
        height: 30em;
        max-height: 40vh;
    }
}

.hero-bg {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: url('../../images/home-bg.jpg') no-repeat center;
    background-size: cover;
    height: 50em;

    button {
        background-color: #456AA2;
        color: #fff;

        &:hover, &:focus, &:active {
            background-color: darken(#456AA2, 20%);
            color: #fff;
        }
    }
}

.quote-container {
    margin-top: 4em;

    h3 {
        color: #fff;
    }
}

.info-card-container {
    margin-top: 4em;
    margin-bottom: 8em;

    h1 {
        font-size: 3em;
        color: #3a3b3c;
    }
}

.about-hero {
    background: url('../../images/chris-hero.png') no-repeat center;
    background-size: contain;
    height: 16em;
}

.about-logo {
    background: url('../../images/icon.png') no-repeat center;
    background-size: contain;
    height: 16em;
}

.alt-bg {
    background: url('../../images/agsquare.png') repeat;
}

.carousel-container {
    padding: 4em 0 8em 0;
    border-top: 1px solid #ccc;
    background: url('../../images/wood_1.png') repeat;

    h1 {
        color: #fff;
        margin-bottom: 2em;
    }

    img {
        background-color: #fff;
        padding: 4em;
        margin-left: auto;
        margin-right: auto;
        width: auto !important;
        max-height: 50em;
    }

}
