
/*
 Style Guide Lines. Remove if you prefer your own library
 */
.home-logo-container {
    padding: 6em 0;
    .home-logo {
        background: url('../../images/logo-transparent.png') no-repeat center;
        background-size: contain;
        height: 30em;
        max-height: 40vh;
    }
}

.media-bg {
    border-top: 1px solid #ccc;
    background: url('../../images/home-bg.jpg') no-repeat center;
    background-size: cover;
    height: 50em;
}

.card-container {
    margin-top: 14em;
}

.info-card {
    padding: 2em;
    background-color: #fff;
    border-radius: 0.4em;
    border-bottom: 2px solid #ccc;
    height: 20em;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    i {
        font-size: 8em;
        display: block;
    }
}

.show-card {
    visiblity: visible;
    opacity: 1;
}

.about-card {
    margin-top: 10em;
    margin-bottom: 10em;
    padding: 2em;
    border-radius: 0.4em;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
}

.about-hero {
    background: url('../../images/chris-hero.png') no-repeat center;
    background-size: contain;
    height: 20em;
}

.alt-bg {
    background-color: #eee;
}
