.contact-container {
    .container {
        padding-top: 2em;
        padding-bottom: 4em;
    }
    h1 {
        @media (max-width: 768px) {
            font-size: 1.8em;
        }
        a {
            &:hover {
                text-decoration: none !important;
            }
        }
    }
    .about-card {
        .fa {
            margin-top: 0;
        }
        @media screen and (max-width: 860px) {
            h2 {
                font-size: 1em;
            }
        }
    }
}
